<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Budget</title>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <link rel="stylesheet" href="budgeStyle.css" type="text/css">
<!--    Add Bootstrap Style Link here-->
</head>

<body>
<div id="app">
    <h1>Personal Budget Calculator</h1>

    <div id="add-income" class="card">
        <h2 class="card-header">Income</h2>
        <div class="card-body">
            <form>
                <div class="form-group">
                    <label class="form-label" for="income">Monthly Income: </label>
                    <input id="income" class="form-control" type="number" min="0">
                </div>

                <div>
                    <button class="btn btn-primary mt-2" type="button" v-on:click="submitIncome">Add Income</button>
                </div>
            </form>
        </div>
    </div>

                <p></p>
    <div id="add-expense" class="card">
        <h2 class="card-header">Expenses</h2>
        <div class="card-body">
            <form>
                <div class="form-group">
                    <label class="form-label" for="expenseOption">Monthly Expenses: </label>
                    <select class="form-control" v-model="expenseOption">
                        <option v-for="expenseOption in expenseOptions" v-bind:value="expenseOption"> {{ expenseOption }}</option>
                    </select>
                </div>

                <div>
                    <button class="btn btn-primary mt-2" type="button" v-on:click="submitExpense">Add Expense</button>
                </div>
            </form>
        </div>
    </div>

                <p></p>
    <div id="add-saving" class="card">
        <h2 class="card-header">Savings</h2>
        <div class="card-body">
            <form>
                <div class="form-group">
                    <label class="form-label" for="savingOption">Monthly Savings: </label>
                    <select class="form-control" v-model="savingOption">
                        <option v-for="savingOption in savingOptions" v-bind:value="savingOption"> {{ savingOption }}</option>
                    </select>
                </div>

                <div>
                    <button class="btn btn-primary mt-2" type="button" v-on:click="submitSaving">Add Savings</button>
                </div>
            </form>
        </div>
    </div>

    <div class="card">
        <h2 class="card-header">Ledger</h2>

        <div class="card-body">

            <div id="ledger">
                <table class="table">
                    <tr>
                        <th>Description</th>
                        <th>Amount</th>
                    </tr>
                    <tr v-for="record in ledger">
                        <td>{{ record.description }}</td>
                        <td>{{ record.amount }}</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>

    <div class="card">
        <h2 class="card-header">Monthly Budget</h2>

        <div class="card-body">
            <!-- TODO use computed property to display total hours -->
            <p>Budget Breakdown</p>

            <!-- TODO computed property to display total for each type  -->
            <p>Budget Visualized</p>

        </div>
    </div>


</div>
</div>

<script>
    let app = new Vue({
        el: "#app",
        data: {
            income: "",
            expenseOption: "",
            expenseOptions: ['Auto', 'Cable/Internet', 'Entertainment', 'Groceries', 'Insurance', 'Loans', 'Pet',
                'Phone', 'Utilities', 'Other'],
            savingOption: "",
            savingOptions: ['Checking', 'Investments', 'Savings', 'Retirement', 'Other'],
            amount: 0,
            ledger: []
        },
        // filters: {
        //     ADD FILTERS HERE
        // }
        methods: {
            submitExpense() {
                let record = {
                    expenseOption: this.expenseOption,
                    expenseAmount: this.expenseAmount
                }
                this.ledger.push(record)
            }
        }
    })
</script>
</div>
</body>

</html>