<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Budget</title>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <link rel="stylesheet" href="budgeStyle.css" type="text/css">
<!--    Add Bootstrap Style Link here-->
</head>

<body>
<div id="app">
    <h1>Monthly Budget</h1>

    <div id="add-income" class="card">

        <h2 class="card-header">Income</h2>
        <div class="card-body">

            <form>
                <div class="form-group">
                    <label class="form-label" for="income">Monthly Income: </label>
                    <input id="income" class="form-control" type="number" min="0">
                </div>

                <div>
                    <button class="btn btn-primary mt-2" type="button" v-on:click="submit">Add Income</button>
                </div>
            </form>

                <p></p>

            <form>
                <div class="form-group">
                    <label class="form-label" for="expenseOption">Monthly Expenses: </label>
                    <select class="form-control" v-model="expenseOption">
                        <option v-for="expenseOption in expenseOptions" v-bind:value="expenseOption"> {{ expenseOption }}</option>
                    </select>
                </div>

                <div>
                    <button class="btn btn-primary mt-2" type="button" v-on:click="submit">Add Expense</button>
                </div>
            </form>

                <p></p>

            <form>
                <div class="form-group">
                    <label class="form-label" for="savingOption">Monthly Savings: </label>
                    <select class="form-control" v-model="savingOption">
                        <option v-for="savingOption in savingOptions" v-bind:value="savingOption"> {{ savingOption }}</option>
                    </select>
                </div>

                <div>
                    <button class="btn btn-primary mt-2" type="button" v-on:click="submit">Add Savings</button>
                </div>
            </form>

        </div>
</div>

<script>
    let app = new Vue({
        el: "#app",
        data: {
            income: "",
            incomeAmount: "",
            expenseOption: "",
            expenseOptions: ['Auto', 'Cable/Internet', 'Entertainment', 'Groceries', 'Insurance', 'Loans', 'Pet',
                'Phone', 'Utilities', 'Other'],
            expenseAmount: "",
            savingOption: "",
            savingOptions: ['Checking', 'Investments', 'Savings', 'Retirement', 'Other'],
            savingAmount: "",
        },
        // filters: {
        //     ADD FILTERS HERE
        // }
        // methods: {
        //     ADD METHODDS HERE
        // }
    })
</script>
</div>
</body>

</html>